
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

venv/
ENV/
env/

.idea/
.vscode/


models/*.pt
!models/codevul_plus_sample.pt
!models/__init__.py

data/*.csv
!data/sample_dataset.csv

*.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
